<main id="loginContainer" class="text-center" ng-controller="login">
    <form class="well horizontal-form">
        <h2>Admin Login</h2>
        <input type="text" class="form-control" placeholder="Username" ng-model="username">
        <input type="password" class="form-control" placeholder="Password" ng-model="password">
        <br/>
        <button class="btn btn-primary" type="submit" ng-click="login()">Submit</button>
        <br/><br/>
		<a ng-click="$emit('changeView','adminPasswordReset.html')">Forgot Password?</a>
    </form>
</main>