<main id="loginContainer" class="text-center" ng-controller="passwordReset">
    <form class="well horizontal-form">
        <h2>Password Reset</h2>
        <span>{{question}}</span>
        <br/><br/>
        <input type="text" class="form-control" placeholder="Username" ng-model="username" ng-keyup="questionTextPopulate()">
        <input type="text" class="form-control" placeholder="Security Question Answer" ng-model="questionAnswer">
        <input type="password" class="form-control" placeholder="New Password" ng-model="password">
        <input type="password" class="form-control" placeholder="New Password Confirm" ng-model="passwordConfirm">
        <br/>
        <button class="btn btn-primary" type="submit" ng-click="pushPassword()">Submit</button>
        <button class="btn btn-primary" type="submit" ng-click="$emit('changeView','adminLogin.html')">Back</button>
    </form>
</main>